# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories (local to your machine)
/build/
/out/

# IDE-specific directories (Visual Studio, CLion, VS Code)
.vs/
.vscode/
.idea/
*.user
*.suo
