# Base Config
root = .
object-directory = build/engine

# Only include source files under engine/
filter = engine/

# Explicitly exclude deps and other build artifacts
exclude-directories = build/_deps
exclude-directories = build/(?!engine)

# Output options
sonarqube = coverage.xml
