# Base Config
root = .
gcov-object-directory = build/engine

# Excludes
gcov-exclude-directories = build/CMakeFiles
gcov-exclude-directories = build/_deps
exclude = .*\.test\.cpp$

# Filter
filter = ^engine/

# Ignore Noise
gcov-ignore-errors = source_not_found

# Output options
sonarqube = coverage.xml
